In [1]:
# Importing dependancies for data munge
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
# Importing Dataset
df = pd.read_csv("Resources/VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
# Isolating 2017 as year used, keeping only relevant data
df_year = df.set_index("Year")
year_loc = df_year.loc[2017, ["State Name", "Indicator", "Data Value"]]
year_df = pd.DataFrame(year_loc).reset_index()

year_df

,Year,State Name,Indicator,Data Value
0,2017,Alaska,Psychostimulants with abuse potential (T43.6),52
1,2017,Alaska,Natural & semi-synthetic opioids (T40.2),30
2,2017,Alaska,Number of Drug Overdose Deaths,117
3,2017,Alaska,Cocaine (T40.5),16
4,2017,Alaska,Heroin (T40.1),43
...,...,...,...,...
5683,2017,New York City,Percent with drugs specified,99.66974901
5684,2017,New York City,"Natural, semi-synthetic, & synthetic opioids, ...","1,016"
5685,2017,New York City,Cocaine (T40.5),615
5686,2017,New York City,Number of Deaths,"54,331"
5687,2017,New York City,"Natural & semi-synthetic opioids, incl. methad...",446

In [3]:
# Grouping states by Region as defined by U.S. Census Beauro:
reg_a = year_df.loc[(year_df["State Name"]=="Connecticut")| (year_df["State Name"]=="Maine")| (year_df["State Name"]=="Massachusetts")
               | (year_df["State Name"]=="New Hampshire")| (year_df["State Name"]=="Rhode Island")| (year_df["State Name"]=="Vermont")
               | (year_df["State Name"]=="New York")| (year_df["State Name"]=="New York City") 
                    | (year_df["State Name"]=="Pennsylvania") | (year_df["State Name"]=="New Jersey"), ["Indicator", "Data Value"]]

reg_b = year_df.loc[(year_df["State Name"]=="Illinois")| (year_df["State Name"]=="Indiana")| (year_df["State Name"]=="Iowa")|
                    (year_df["State Name"]=="Kansas")| (year_df["State Name"]=="Michigan")| (year_df["State Name"]=="Minnesota")|
                    (year_df["State Name"]=="Missouri")| (year_df["State Name"]=="Nebraska")| (year_df["State Name"]=="North Dakota")|
                    (year_df["State Name"]=="Ohio")| (year_df["State Name"]=="South Dakota"), ["Indicator", "Data Value"]]

reg_c = year_df.loc[(year_df["State Name"]=="Alabama")| (year_df["State Name"]=="Arkansas")| (year_df["State Name"]=="Delaware")| 
                    (year_df["State Name"]=="District of Columbia")| (year_df["State Name"]=="Florida")| (year_df["State Name"]=="Georgia")| 
                    (year_df["State Name"]=="Kentucky")| (year_df["State Name"]=="Louisiana")| (year_df["State Name"]=="Maryland")| 
                    (year_df["State Name"]=="Mississippi")| (year_df["State Name"]=="North Carolina")| (year_df["State Name"]=="Oklahoma")| 
                    (year_df["State Name"]=="South Carolina")| (year_df["State Name"]=="Tennessee")| (year_df["State Name"]=="Texas"),
                     ["Indicator", "Data Value"]]

reg_d = year_df.loc[(year_df["State Name"]=="Alaska")| (year_df["State Name"]=="Arizona")| (year_df["State Name"]=="California")| 
                    (year_df["State Name"]=="Colorado")| (year_df["State Name"]=="Hawaii")| (year_df["State Name"]=="Idaho")| 
                    (year_df["State Name"]=="Montana")| (year_df["State Name"]=="Nevada")| (year_df["State Name"]=="New Mexico")| 
                    (year_df["State Name"]=="Oregon")| (year_df["State Name"]=="Utah"), ["Indicator", "Data Value"]]
# Cleaning above(Adding columns to ind. datasets, munging)
reg_a["Group"] = "1"
reg_b["Group"] = "2"
reg_c["Group"] = "3"
reg_d["Group"] = "4"

reg_a_df = pd.DataFrame(reg_a).set_index("Group")
reg_b_df = pd.DataFrame(reg_b).set_index("Group")
reg_c_df = pd.DataFrame(reg_c).set_index("Group")
reg_d_df = pd.DataFrame(reg_d).set_index("Group")

reg_a_df.dropna(), reg_b_df.dropna(), reg_c_df.dropna(), reg_d_df.dropna()

(                                               Indicator   Data Value
 Group
 1          Psychostimulants with abuse potential (T43.6)           28
 1               Natural & semi-synthetic opioids (T40.2)          209
 1                         Number of Drug Overdose Deaths        1,018
 1                                        Cocaine (T40.5)          267
 1                                         Heroin (T40.1)          465
 ...                                                  ...          ...
 1                           Percent with drugs specified  99.66974901
 1      Natural, semi-synthetic, & synthetic opioids, ...        1,016
 1                                        Cocaine (T40.5)          615
 1                                       Number of Deaths       54,331
 1      Natural & semi-synthetic opioids, incl. methad...          446

 [1213 rows x 2 columns],
                                                Indicator   Data Value
 Group
 2          Psychostimulants with abuse potential (T43.6)           85
 2               Natural & semi-synthetic opioids (T40.2)           81
 2                         Number of Drug Overdose Deaths          319
 2                                        Cocaine (T40.5)           17
 2                                         Heroin (T40.1)           51
 ...                                                  ...          ...
 2                         Number of Drug Overdose Deaths           75
 2                           Percent with drugs specified  97.33333333
 2      Natural, semi-synthetic, & synthetic opioids, ...           29
 2                                       Number of Deaths        8,154
 2      Natural & semi-synthetic opioids, incl. methad...           21

 [799 rows x 2 columns],
                             Indicator   Data Value
 Group
 3      Number of Drug Overdose Deaths          795
 3                    Number of Deaths       51,794
 3        Percent with drugs specified  61.76100629
 3      Number of Drug Overdose Deaths          808
 3                    Number of Deaths       52,075
 ...                               ...          ...
 3      Number of Drug Overdose Deaths        2,879
 3                    Number of Deaths      198,519
 3      Number of Drug Overdose Deaths        2,868
 3        Percent with drugs specified  87.90097629
 3                    Number of Deaths      197,641

 [1293 rows x 2 columns],
                                                Indicator   Data Value
 Group
 4          Psychostimulants with abuse potential (T43.6)           52
 4               Natural & semi-synthetic opioids (T40.2)           30
 4                         Number of Drug Overdose Deaths          117
 4                                        Cocaine (T40.5)           16
 4                                         Heroin (T40.1)           43
 ...                                                  ...          ...
 4                           Percent with drugs specified  97.24473258
 4      Natural, semi-synthetic, & synthetic opioids, ...          351
 4                                        Cocaine (T40.5)           45
 4                                       Number of Deaths       18,490
 4      Natural & semi-synthetic opioids, incl. methad...          302

 [1028 rows x 2 columns])

In [4]:
# Combining datasets
reg_df = reg_a_df.append(reg_b_df)
reg_df = reg_df.append(reg_c_df)
reg_df = reg_df.append(reg_d_df)

# Eliminating redundant and irrelevant data
reg_df = reg_df.loc[(reg_df["Indicator"]=="Psychostimulants with abuse potential (T43.6)")| (reg_df["Indicator"]=="Cocaine (T40.5)")|
                   (reg_df["Indicator"]=="Heroin (T40.1)")| (reg_df["Indicator"]=="Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)")|
                   (reg_df["Indicator"]=="Number of Drug Overdose Deaths")| (reg_df["Indicator"]=="Number of Deaths"), :].reset_index()
reg_df["Data Value"] = reg_df["Data Value"].str.replace(',','').astype(np.float64)
reg_df

     Group                                          Indicator  Data Value
0        1      Psychostimulants with abuse potential (T43.6)        28.0
1        1                     Number of Drug Overdose Deaths      1018.0
2        1                                    Cocaine (T40.5)       267.0
3        1                                     Heroin (T40.1)       465.0
4        1                                   Number of Deaths     31103.0
...    ...                                                ...         ...
2515     4                     Number of Drug Overdose Deaths       617.0
2516     4                                     Heroin (T40.1)       144.0
2517     4  Natural, semi-synthetic, & synthetic opioids, ...       351.0
2518     4                                    Cocaine (T40.5)        45.0
2519     4                                   Number of Deaths     18490.0

[2520 rows x 3 columns]

In [5]:
# Resulting pivot
reg_df = pd.DataFrame(reg_df)
reg_pivot = reg_df.pivot_table(index="Indicator", columns ="Group", values="Data Value", aggfunc=np.sum)
reg_pivot

Group,1,2,3,4
Indicator,,,,
Cocaine (T40.5),28465.0,25611.0,23322.0,3361.0
Heroin (T40.1),30446.0,29933.0,24580.0,9153.0
"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",75698.0,64572.0,75752.0,18440.0
Number of Deaths,5967066.0,7023764.0,12094654.0,6006006.0
Number of Drug Overdose Deaths,193993.0,180124.0,270516.0,124627.0
Psychostimulants with abuse potential (T43.6),3774.0,8039.0,14732.0,14288.0

In [6]:
# Adding alcohol, cleaning
alch_piv = pd.read_csv("Resources/2017 CDC Alcohol Deaths _2.csv").reset_index()
alch_piv = alch_piv.rename(columns={"Deaths": "Alcohol"})
alch_piv = alch_piv.drop(4)
alch_piv["index"] = ("1","2","3","4")
alch_piv = alch_piv.set_index("index")
alch_data = alch_piv["Alcohol"]
alch_data
reg_pivot = reg_pivot.append(alch_data)
reg_pivot

Group,1,2,3,4
Indicator,,,,
Cocaine (T40.5),28465.0,25611.0,23322.0,3361.0
Heroin (T40.1),30446.0,29933.0,24580.0,9153.0
"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",75698.0,64572.0,75752.0,18440.0
Number of Deaths,5967066.0,7023764.0,12094654.0,6006006.0
Number of Drug Overdose Deaths,193993.0,180124.0,270516.0,124627.0
Psychostimulants with abuse potential (T43.6),3774.0,8039.0,14732.0,14288.0
Alcohol,4785.0,7338.0,12037.0,11664.0

In [7]:
reg_pivot.to_csv(r"Output/drug-overdose_region.csv")